/* ==========================================================================
   Layout Components
   ========================================================================== */

/* Section */
.section {
  --section-padding: 5rem;

  padding-block: var(--section-padding);
  position: relative;
}