
/* Container */
.container {
  --container-padding: var(--gutter, 1.5rem);
  --container-max-width: var(--max-width, 1200px);

  width: min(100%, var(--container-max-width));
  margin-inline: auto;
  padding-inline: var(--container-padding);
}
