/* ==========================================================================
   #IMPRESIÓN
   ========================================================================== */

@media print {
  body {
    font-size: 12pt;
    color: black;
    background: white;
  }

  .header,
  .footer,
  .back-to-top,
  .mobile-toggle,
  .testimonial-nav {
    display: none !important;
  }

  .section {
    padding: 1rem 0 !important;
    page-break-inside: avoid;
  }

  a {
    text-decoration: underline;
  }

  .btn {
    display: none !important;
  }
}
